openapi: 3.1.0
info:
  title: Western Alliance Bank All Account Priorday API
  version: v1
  description: 'Prior-business-day posted transaction history across all entitled accounts.


    Derived mechanically from the ''All Account Priorday API'' Postman collection published on the WAB API Developer Portal
    (family: Informational APIs). Every path, header, query parameter and request body comes from that collection; response
    bodies are not captured because the collection ships none.'
  contact:
    name: Western Alliance Bank API Developer Portal
    url: https://developer.westernalliancebank.com/s/
  termsOfService: https://www.westernalliancebancorporation.com/sites/default/files/2025-05/api-services-terms-conditions.pdf
  x-family: Informational
  x-generated-from: postman
  x-source: https://developer.westernalliancebank.com/sfsites/c/cms/delivery/media/MCCBJDRO525BECXI4ZTVWZE7SZLM
  x-source-page: https://developer.westernalliancebank.com/s/postman-collection
  x-provenance:
    generated: '2026-09-17'
    method: derived
    source: postman/western-alliance-bancorporation-all-account-priorday-api.postman_collection.json
    note: Mechanical Postman -> OpenAPI conversion; no operations, parameters or examples were added beyond the collection.
servers:
- url: https://api-connect.westernalliancebank.com
  description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
- url: https://api-connect.westernalliancebanktest.com
  description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
tags:
- name: Get Token
- name: Health check
- name: Transaction History Priorday
paths:
  /entitlements-get-token-eapi/api/v1/token:
    get:
      operationId: getToken
      summary: Get token
      tags:
      - Get Token
      parameters:
      - name: Scope
        in: query
        required: true
        schema:
          type: string
        example: Informational
      - name: Resource
        in: query
        required: false
        schema:
          type: string
        example: https://microsoft.graph.com
      - name: appClientId
        in: header
        required: true
        schema:
          type: string
        description: Credential header (appClientId); value issued by Western Alliance Bank at enrollment. Never publish real
          values.
      - name: appClientSecret
        in: header
        required: true
        schema:
          type: string
        description: Credential header (appClientSecret); value issued by Western Alliance Bank at enrollment. Never publish
          real values.
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      security: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not
            captured here.
  /info-multi-acc-priorday-eapi/api/v1/healthcheck:
    get:
      operationId: healthcheck
      summary: Healthcheck
      tags:
      - Health check
      parameters:
      - name: X-Correlation-Id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not
            captured here.
  /info-multi-acc-priorday-eapi/api/v1/dp/accounts/transactions/priorDay:
    get:
      operationId: getPriordayTransactions
      summary: Get Priorday transactions
      tags:
      - Transaction History Priorday
      parameters:
      - name: CheckOrSerialNumber
        in: query
        required: false
        schema:
          type: string
        description: Can be used to limit the transactions returned to those with this serial/check number
      - name: TransactionAmount
        in: query
        required: false
        schema:
          type: string
        description: Can be used to limit the transactions returned to those with this amount
      - name: TransactionCode
        in: query
        required: false
        schema:
          type: string
        description: Can be used to limit the transactions returned to those with this transaction code
      - name: TransactionFilterType
        in: query
        required: false
        schema:
          type: string
        description: Code used to indicate which type of transaction filtering should be performed
      - name: ReturnExtended
        in: query
        required: false
        schema:
          type: string
        description: The type of inquiry desired
      - name: TransactionCodeList
        in: query
        required: false
        schema:
          type: string
        description: Can be used to limit the transactions returned to those with these transaction codes. Maximum number
          of transaction codes to filter on is 10
      - name: TransactionDate
        in: query
        required: false
        schema:
          type: string
        description: The closing date in 'yyyy-MM-dd' format to use as the prior day. Defaults to the last business day from
          the current date
      - name: X-Correlation-Id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Next-Page-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not
            captured here.
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: Bearer token returned by GET /entitlements-get-token-eapi/api/v1/token (Token API) in exchange for the
        appClientId + appClientSecret headers. Tokens are valid for a limited period (API Services Terms 6(c)(iii)).
    appClientId:
      type: apiKey
      in: header
      name: appClientId
      description: Client ID assigned by WAB at enrollment (used with appClientSecret on the token endpoint).
    appClientSecret:
      type: apiKey
      in: header
      name: appClientSecret
      description: Client Secret known only to the client and the WAB API gateway.
