openapi: 3.2.0
info:
  title: Western Alliance Bancorporation Get Token API
  version: v1
  contact:
    name: Western Alliance Bank API Developer Portal
    url: https://developer.westernalliancebank.com/s/
  termsOfService: https://www.westernalliancebancorporation.com/sites/default/files/2025-05/api-services-terms-conditions.pdf
  x-refined-note:
  - x-family differs across the merged source definitions and was not carried
  - x-provenance differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  - x-status differs across the merged source definitions and was not carried
  x-generated-from: postman
  x-source-page: https://developer.westernalliancebank.com/s/postman-collection
  description: 'Operations tagged Get Token across 14 of this provider''s published API definitions: western-alliance-bancorporation-ach-eapi-beta-openapi.yml, western-alliance-bancorporation-all-account-balance-api-openapi.yml, western-alliance-bancorporation-all-account-intraday-api-openapi.yml, western-alliance-bancorporation-all-account-priorday-api-openapi.yml, western-alliance-bancorporation-bank-statement-api-openapi.yml, western-alliance-bancorporation-book-transfer-api-openapi.yml…'
servers:
- url: https://api-connect.westernalliancebanktest.com
  description: Client UAT environment (all data must be fake / masked test data per the API Services Terms) — the collection as published targets this host (env=qa)
- url: https://api-connect.westernalliancebank.com
  description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
tags:
- name: Get Token
paths:
  /entitlements-get-token-eapi/api/v1/token:
    get:
      operationId: getToken
      summary: Get Token
      tags:
      - Get Token
      parameters:
      - name: Scope
        in: query
        required: true
        schema:
          type: string
        example: Informational
      - name: X-Correlation-Id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: AppClientId
        in: header
        required: true
        schema:
          type: string
        description: Credential header (AppClientId); value issued by Western Alliance Bank at enrollment. Never publish real values.
      - name: AppClientSecret
        in: header
        required: true
        schema:
          type: string
        description: Credential header (AppClientSecret); value issued by Western Alliance Bank at enrollment. Never publish real values.
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-beta: true
    servers:
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms) — the collection as published targets this host (env=qa)
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: Bearer token returned by GET /entitlements-get-token-eapi/api/v1/token (Token API) in exchange for the appClientId + appClientSecret headers. Tokens are valid for a limited period (API Services Terms 6(c)(iii)).
    appClientId:
      type: apiKey
      in: header
      name: appClientId
      description: Client ID assigned by WAB at enrollment (used with appClientSecret on the token endpoint).
    appClientSecret:
      type: apiKey
      in: header
      name: appClientSecret
      description: Client Secret known only to the client and the WAB API gateway.
x-refined-from:
- western-alliance-bancorporation-ach-eapi-beta-openapi.yml
- western-alliance-bancorporation-all-account-balance-api-openapi.yml
- western-alliance-bancorporation-all-account-intraday-api-openapi.yml
- western-alliance-bancorporation-all-account-priorday-api-openapi.yml
- western-alliance-bancorporation-bank-statement-api-openapi.yml
- western-alliance-bancorporation-book-transfer-api-openapi.yml
- western-alliance-bancorporation-check-image-api-openapi.yml
- western-alliance-bancorporation-date-range-transactions-api-openapi.yml
- western-alliance-bancorporation-single-account-balance-api-openapi.yml
- western-alliance-bancorporation-single-account-intraday-api-openapi.yml
- western-alliance-bancorporation-single-account-priorday-api-openapi.yml
- western-alliance-bancorporation-stop-payments-api-openapi.yml
- western-alliance-bancorporation-token-api-openapi.yml
- western-alliance-bancorporation-wires-request-api-openapi.yml
