openapi: 3.2.0
info:
  title: Western Alliance Bancorporation Health Check API
  version: v1
  contact:
    name: Western Alliance Bank API Developer Portal
    url: https://developer.westernalliancebank.com/s/
  termsOfService: https://www.westernalliancebancorporation.com/sites/default/files/2025-05/api-services-terms-conditions.pdf
  x-refined-note:
  - x-family differs across the merged source definitions and was not carried
  - x-provenance differs across the merged source definitions and was not carried
  - x-refined-note differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  x-generated-from: postman
  x-source-page: https://developer.westernalliancebank.com/s/postman-collection
  description: 'Operations tagged Health Check across 11 of this provider''s published API definitions: western-alliance-bancorporation-all-account-balance-api-openapi.yml, western-alliance-bancorporation-all-account-intraday-api-openapi.yml, western-alliance-bancorporation-all-account-priorday-api-openapi.yml, western-alliance-bancorporation-bank-statement-api-openapi.yml, western-alliance-bancorporation-date-range-transactions-api-openapi.yml…'
servers:
- url: https://api-connect.westernalliancebank.com
  description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
- url: https://api-connect.westernalliancebanktest.com
  description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
tags:
- name: Health Check
paths:
  /info-multi-acc-balance-eapi/api/v1/healthcheck:
    get:
      operationId: healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-Id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-multi-acc-intraday-eapi/api/v1/healthcheck:
    get:
      operationId: getInfoMultiAccIntradayEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-Id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-multi-acc-priorday-eapi/api/v1/healthcheck:
    get:
      operationId: getInfoMultiAccPriordayEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-Id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-bank-statements-eapi/api/v1/healthcheck:
    get:
      operationId: getInfoBankStatementsEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-dt-rng-trns-eapi/api/v1/healthcheck:
    get:
      operationId: getInfoDtRngTrnsEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-single-acc-balance-eapi/api/v1/healthcheck:
    get:
      operationId: getInfoSingleAccBalanceEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-single-acc-intraday-eapi/api/v1/healthcheck:
    get:
      operationId: getInfoSingleAccIntradayEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-single-acc-priorday-eapi/api/v1/healthcheck:
    get:
      operationId: getInfoSingleAccPriordayEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /entitlements-get-token-eapi/api/v1/healthcheck:
    get:
      operationId: getEntitlementsGetTokenEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /trnsct-wires-rqst-eapi/api/v1/healthcheck:
    get:
      operationId: getTrnsctWiresRqstEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-check-image-eapi/api/v1/healthcheck:
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
    get:
      operationId: getInfoCheckImageEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
  /info-stop-payments-eapi/api/v1/healthcheck:
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
    get:
      operationId: getInfoStopPaymentsEapiApiV1Healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Dependent-Ping
        in: header
        required: true
        schema:
          type: string
        example: 'false'
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: healthcheck
  /trnsct-ach-eapi/api/v1/healthcheck:
    get:
      operationId: healthcheck
      summary: Healthcheck
      tags:
      - Health Check
      parameters:
      - name: X-Correlation-Id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Dependent-Ping
        in: header
        required: false
        schema:
          type: string
        example: 'true'
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-beta: true
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: Bearer token returned by GET /entitlements-get-token-eapi/api/v1/token (Token API) in exchange for the appClientId + appClientSecret headers. Tokens are valid for a limited period (API Services Terms 6(c)(iii)).
    appClientId:
      type: apiKey
      in: header
      name: appClientId
      description: Client ID assigned by WAB at enrollment (used with appClientSecret on the token endpoint).
    appClientSecret:
      type: apiKey
      in: header
      name: appClientSecret
      description: Client Secret known only to the client and the WAB API gateway.
x-refined-from:
- western-alliance-bancorporation-all-account-balance-api-openapi.yml
- western-alliance-bancorporation-all-account-intraday-api-openapi.yml
- western-alliance-bancorporation-all-account-priorday-api-openapi.yml
- western-alliance-bancorporation-bank-statement-api-openapi.yml
- western-alliance-bancorporation-date-range-transactions-api-openapi.yml
- western-alliance-bancorporation-single-account-balance-api-openapi.yml
- western-alliance-bancorporation-single-account-intraday-api-openapi.yml
- western-alliance-bancorporation-single-account-priorday-api-openapi.yml
- western-alliance-bancorporation-token-api-openapi.yml
- western-alliance-bancorporation-wires-request-api-openapi.yml
- western-alliance-bancorporation-health-check-api-openapi.yml
