openapi: 3.2.0
info:
  title: Western Alliance Bancorporation Transaction History…
  version: v1
  contact:
    name: Western Alliance Bank API Developer Portal
    url: https://developer.westernalliancebank.com/s/
  termsOfService: https://www.westernalliancebancorporation.com/sites/default/files/2025-05/api-services-terms-conditions.pdf
  x-family: Informational
  x-generated-from: postman
  x-refined-note:
  - x-provenance differs across the merged source definitions and was not carried
  - x-source differs across the merged source definitions and was not carried
  x-source-page: https://developer.westernalliancebank.com/s/postman-collection
  description: 'Operations tagged Transaction History Intraday across 2 of this provider''s published API definitions: western-alliance-bancorporation-all-account-intraday-api-openapi.yml, western-alliance-bancorporation-single-account-intraday-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-connect.westernalliancebank.com
  description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
- url: https://api-connect.westernalliancebanktest.com
  description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
tags:
- name: Transaction History Intraday
paths:
  /info-multi-acc-intraday-eapi/api/v1/dp/accounts/transactions/intraday:
    get:
      operationId: getIntradayTransactions
      summary: Get Intraday transactions
      tags:
      - Transaction History Intraday
      parameters:
      - name: FilterType
        in: query
        required: false
        schema:
          type: string
        description: filter on basis of type of payment
      - name: CheckNumber
        in: query
        required: false
        schema:
          type: string
        description: The check number to search for.
      - name: Amount
        in: query
        required: false
        schema:
          type: string
        description: The amount to search for.
      - name: TransactionCode
        in: query
        required: false
        schema:
          type: string
        description: The transaction code to search for.
      - name: TimeDepositId
        in: query
        required: false
        schema:
          type: string
      - name: X-Correlation-Id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Next-Page-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
  /info-single-acc-intraday-eapi/api/v1/dp/accounts/{AccountNumber}/transactions/intraday:
    get:
      operationId: getInfoSingleAccIntradayEapiApiV1DpAccountsByAccountNumberTransactionsIntraday
      summary: Get Intraday transactions
      tags:
      - Transaction History Intraday
      parameters:
      - name: AccountNumber
        in: path
        required: true
        schema:
          type: string
      - name: CheckNumber
        in: query
        required: false
        schema:
          type: string
      - name: Amount
        in: query
        required: false
        schema:
          type: string
      - name: TransactionCode
        in: query
        required: false
        schema:
          type: string
      - name: FilterType
        in: query
        required: false
        schema:
          type: string
      - name: TimeDepositId
        in: query
        required: false
        schema:
          type: string
      - name: X-Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: X-Source-System
        in: header
        required: false
        schema:
          type: string
      - name: X-Next-Page-Key
        in: header
        required: false
        schema:
          type: string
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-operation-id-source: normalized
      x-operation-id-original: getIntradayTransactions
    servers:
    - url: https://api-connect.westernalliancebank.com
      description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
    - url: https://api-connect.westernalliancebanktest.com
      description: Client UAT environment (all data must be fake / masked test data per the API Services Terms)
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: Bearer token returned by GET /entitlements-get-token-eapi/api/v1/token (Token API) in exchange for the appClientId + appClientSecret headers. Tokens are valid for a limited period (API Services Terms 6(c)(iii)).
    appClientId:
      type: apiKey
      in: header
      name: appClientId
      description: Client ID assigned by WAB at enrollment (used with appClientSecret on the token endpoint).
    appClientSecret:
      type: apiKey
      in: header
      name: appClientSecret
      description: Client Secret known only to the client and the WAB API gateway.
x-refined-from:
- western-alliance-bancorporation-all-account-intraday-api-openapi.yml
- western-alliance-bancorporation-single-account-intraday-api-openapi.yml
