openapi: 3.2.0
info:
  title: Western Alliance Bank TassatPay E Transactions API
  version: v1
  description: 'Beta. Client gateway to the TassatPay blockchain-based real-time B2B payments network: wallet balances, deposits (wallet to DDA), redemptions, sends between wallets, transactions and wallet names.


    Derived mechanically from the ''TassatPay EAPI | Beta'' Postman collection published on the WAB API Developer Portal (family: Digital Assets APIs). Every path, header, query parameter and request body comes from that collection; response bodies are not captured because the collection ships none.'
  contact:
    name: Western Alliance Bank API Developer Portal
    url: https://developer.westernalliancebank.com/s/
  termsOfService: https://www.westernalliancebancorporation.com/sites/default/files/2025-05/api-services-terms-conditions.pdf
  x-family: Digital Assets
  x-generated-from: postman
  x-source: https://developer.westernalliancebank.com/sfsites/c/cms/delivery/media/MCDRH2RZ55TBHADOEWYZPCUOVROM
  x-source-page: https://developer.westernalliancebank.com/s/postman-collection
  x-provenance:
    generated: '2026-09-17'
    method: derived
    source: postman/western-alliance-bancorporation-tassatpay-eapi-beta.postman_collection.json
    note: Mechanical Postman -> OpenAPI conversion; no operations, parameters or examples were added beyond the collection.
    collection_quirks:
    - Path '/tassat-client-eapi{envKey}/api/v1/usertoken' carries the collection's undefined {{envKey}} variable verbatim (User Token/Wallets).
  x-status: beta
servers:
- url: https://api-connect.westernalliancebanktest.com
  description: Client UAT environment (all data must be fake / masked test data per the API Services Terms) — the collection as published targets this host (env=qa)
- url: https://api-connect.westernalliancebank.com
  description: Production (Client ID / Client Secret and token issued at Treasury Management enrollment)
tags:
- name: Transactions
paths:
  /tassat-client-eapi/api/v1/transactions:
    post:
      operationId: transactions
      summary: Transactions
      tags:
      - Transactions
      parameters:
      - name: access_token
        in: header
        required: true
        schema:
          type: string
        description: Credential header (access_token); value issued by Western Alliance Bank at enrollment. Never publish real values.
      - name: user_token
        in: header
        required: true
        schema:
          type: string
        description: Credential header (user_token); value issued by Western Alliance Bank at enrollment. Never publish real values.
      - name: UUID
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: Client-generated GUID used to correlate the request across WAB systems.
      - name: SourceId
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Start:
                  type: string
                End:
                  type: string
                Options:
                  type: object
                  properties:
                    pageNo:
                      type: integer
                    wallet:
                      type: string
                Time:
                  type: string
            example:
              Start: 2023/06/25 10:05:03 UTC
              End: 2023/06/28 10:05:03 UTC
              Options:
                pageNo: 1
                wallet: '0x48652dee06eb85b9ac8f6227f70377d9d1343267'
              Time: 2019/07/31 10:05:03 UTC
      security:
      - bearerToken: []
      responses:
        '200':
          description: Successful response. The published collection ships no saved response, so the response schema is not captured here.
      x-beta: true
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
      description: Bearer token returned by GET /entitlements-get-token-eapi/api/v1/token (Token API) in exchange for the appClientId + appClientSecret headers. Tokens are valid for a limited period (API Services Terms 6(c)(iii)).
    appClientId:
      type: apiKey
      in: header
      name: appClientId
      description: Client ID assigned by WAB at enrollment (used with appClientSecret on the token endpoint).
    appClientSecret:
      type: apiKey
      in: header
      name: appClientSecret
      description: Client Secret known only to the client and the WAB API gateway.
